server:
  port: 8085
spring:
  application:
    name: API-GATEWAY-SERVICE
  cloud:
    gateway:
      httpclient:
        wiretap: true
        uri-encoding: UTF-8
        strict-uri-validation: false
      routes:
        - id: default
          uri: https://jsonplaceholder.typicode.com
          predicates:
            - Path=/todos/**

config:
  protectedRoutes:
    enabled: false
    routes:
      - id: console
        path: /console/**