server:
  port: 8085
spring:
  application:
    name: API-GATEWAY-SERVICE
  cloud:
    gateway:
      httpclient:
        wiretap: true
        uri-encoding: UTF-8
        strict-uri-validation: false
      routes:
        - id: default
          uri: https://jsonplaceholder.typicode.com
          predicates:
            - Path=/todos/**

config:
  rateLimited:
    enabled: true
    algorithm: tokenBucket
    strategy: drop
    rules:
      - id: default
        algorithm: tokenBucket
        config:
          tokenBucket:
            capacity: 10
            refillRate: 2
            refillUnit: M
        resourcePath: /**
        limitBy:
          - ip
  protectedRoutes:
    enabled: false
    routes:
      - id: console
        path: /console/**